.unstyledlist() {
  list-style: none;
  padding: 0;
  margin: 0;
}

.noindent() {
  padding: 0;
  margin: 0;
}

.clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.placeholder(@color: @placeholder-color) {
  font-family: "PTsans";
  font-weight: 700;
  color: #000;
  &::-webkit-input-placeholder {
    color: #000;
    // opacity: 1;
  }
  &:-moz-placeholder {
    color: #000;
    // opacity: 1;
  }
  &::-moz-placeholder {
    color: #000;
    // opacity: 1;
  }
  &:-ms-input-placeholder {
    color: #000;
    // opacity: 1;
  }
}
